Nama: Hanun Masitha Ramadhani

In [2]:
import pandas as pd
df = pd.read_csv('song.csv')
df

       song_id                title       artist_name  user_id  rating
0         5076  Eli_ The Barrow Boy  The Decemberists    30266     1.0
1         5076  Eli_ The Barrow Boy  The Decemberists    66345     1.0
2         5076  Eli_ The Barrow Boy  The Decemberists    64781     1.0
3         5076  Eli_ The Barrow Boy  The Decemberists    16079     1.0
4         5076  Eli_ The Barrow Boy  The Decemberists    23987     1.0
...        ...                  ...               ...      ...     ...
86941      634      The Outer Banks    The Album Leaf    16523     1.0
86942      634      The Outer Banks    The Album Leaf    21989     1.0
86943      634      The Outer Banks    The Album Leaf    47074     1.0
86944      634      The Outer Banks    The Album Leaf    59085     1.0
86945      634      The Outer Banks    The Album Leaf    39616     1.0

[86946 rows x 5 columns]

In [11]:
song_dict1 = {}
song_dict2 = {}
for x, y in zip(df['song_id'], df['title']):
    if x not in song_dict1.keys():
        song_dict1[x] = y
        song_dict2[y] = x

(1) Buatlah sistem rekomendasi popularity-based berupa fungsi kustom yang menerima 3 argumen: dataset, jumlah lagu yang direkomendasikan, dan minimal jumlah rating lagu. Print rekomendasi top 10 lagu.

In [5]:
popular = pd.DataFrame({'count':df.groupby('song_id').count()['user_id'],
                       'rating':df.groupby('song_id').mean()['rating']})
popular

         count    rating
song_id
16         667  1.161919
28          95  1.273684
44          74  1.000000
45         113  1.035398
98         108  1.074074
...        ...       ...
9873        58  1.224138
9904       161  1.248447
9921        97  1.134021
9936       235  1.093617
9956        86  1.162791

[470 rows x 2 columns]

In [6]:
popular['rating'].max()

1.8330341113105924

In [7]:
popular['rating'].min()

1.0

In [12]:
def popular_recom(dataset, min_rating, k):
    a = []
    popular2 = dataset[dataset['rating']>=min_rating].sort_values('rating', ascending=False)
    for x in popular2.index[:k]:
        a.append(song_dict1[x])
    return a

In [13]:
popular_recom(popular, 1.5, 10)

['Victoria (LP Version)',
 'Chapel Of Ghouls (Live)',
 'The Alliance Of Hellhoundz',
 'Disconnect_ Disconnect',
 'OVO MI JE `KOLA',
 'Romanticótico',
 'Collecting Skylines',
 'Walk Through Hell (featuring Max Bemis Acoustic Exclusive)',
 'Ghost Of Yesterday (2001 Digital Remaster)',
 'Here I Am To Worship (Here I Am To Worship Album Version)']

(2) Buatlah sistem rekomendasi collaborative filtering user-user. Hitung RMSE dari sistem rekomendasi yang dibuat. Buat sistem rekomendasi berupa fungsi kustom yang menerima 4 argumen: dataset, user id, jumlah lagu yang direkomendasikan, dan algoritma. Pastikan rekomendasi yang diberikan adalah lagu yang belum diberi rating oleh user. Print rekomendasi top 10 lagu untuk salah satu user.

In [14]:
from surprise import KNNBasic, Dataset, Reader, accuracy
from surprise.model_selection import train_test_split, GridSearchCV

ModuleNotFoundError: No module named 'surprise'

(3) Buatlah sistem rekomendasi collaborative filtering item-item. Hitung RMSE dari sistem rekomendasi yang dibuat. Buat sistem rekomendasi berupa fungsi kustom yang menerima 4 argumen: dataset, user id, jumlah lagu yang direkomendasikan, dan algoritma. Pastikan rekomendasi yang diberikan adalah lagu yang belum diberi rating oleh user. Print rekomendasi top 10 lagu untuk salah satu user.